body{
    background-color: darkorange;
}
.image1{
    display: flex;
    align-items: flex-end;
    height: 40px;
    margin: auto;
}

.content{
    display: flex;
    width: 360px;
    height: 100px;


}
.barras{
    margin: auto;
    display: flex;
    align-items: center;

}
.Inicio{
    background: -moz-repeating-radial-gradient();
    width: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
}
.Nosotros{
    width: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    margin: auto;
}
.barras:hover{
    color: aqua;

}
.Venta{
    width: 50px;
    display: flex;
    margin: auto;
}
.card{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    display: flex;
}
.card:hover{
    color:bisque;
    column-gap: normal;
}
.Productos{
    width: 50px;
    display: flex;
    margin: auto;

}
.text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
